<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
</style>

body {
	margin: 0;
	padding: 0;
	background-color: #FCFFFD;
}


h1 {
	font-family: "Archivo Black", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

h3 {
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, li, .navbar {
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section {
	padding: 50px 0px 50px 0px;
}


/*NAVIGATION BAR*/
.navbar {
	background-color: #5D737E;
	overflow: hidden;
}

/* style links (text) in navbar */
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 16px;	/*vertical horizontal*/
  text-decoration: none;	/*don't underline or purple*/
  font-size: 17px;
}

/* on hover, change color of tabs */
.navbar a:hover {
  background-color: #FCFFFD;
  color: black;
}

/* color of current tab */
.navbar a.current {
  background-color: #64B6AC;
  color: white;
 }


/*CONTENT*/
.content {
	margin: ;
	padding: 50px;
	line-height: 1.5;
}


.blocktext1, .blocktext2, .blocktext3, .blocktext4, .blocktext5 {
	width: 650px;
	height: 700px;
	display: inline-block;
	text-align: left;
	padding: 50px 80px 50px 80px;
	vertical-align: text-top;
	box-sizing: border-box;
}


.blocktext6 {
	width: 800px;
	height: 300px;
	text-align: center;
	padding: 50px 80px 50px 80px;
	vertical-align: text-top;
	box-sizing: border-box;
	border-style: solid;
	border-color: #5D737E;
	display:block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/*PAGE: MENTAL HEALTH 101*/

.quote {
	padding: 50px 100px 50px 100px;
	font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  background-color: #5D737E;
  color: white;
}

#anxiety, #eating, #personality, #factitious, #ocd {
	background-color: #DAFFEF;
}

#mood, #psychotic, #ptsd, #impulse, #sexual {
	background-color: #64B6AC;
}


/*#myth1 {
	border-style: solid;
	border-color: #5D737E;
}*/


/*PAGE: RESOURCE HUB*/


/*.support {
	background-color: #DAFFEF;
}

.involved {
	background-color: #FCFFFD;
}*/



/*PAGE: SELF CARE*/

/*.tips {
	background-color: #DAFFEF;
}

.checklist {
	background-color: #FCFFFD;
}

.journal {
	background-color: #DAFFEF;
}*/


.credits {
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: gray;
  text-decoration: none;
}